{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block title %}Accueil - Coup de Patte
{% endblock %}

{% block body %}

	{%include 'commun/nav.html.twig'%}
	{%include 'commun/nav.html.twig'%}


	<main>
		{%include 'commun/menu.html.twig'%}
		<section class="py-5 text-center container">
			<div class="row py-lg-5">
				<div class="col-lg-6 col-md-8 mx-auto">
					<h1 class="fw-light">Coup de P@tte le site qui vous trouvera un ami pour la vie!</h1>
					<p class="lead text-muted">Avec Coup de p@tte, adopter un animal aupres de particulier ou acheter un amimal chez de nos eleveurs referencés .</p>
					<h1 class="fw-light">Coup de P@tte le site qui vous trouvera un ami pour la vie!</h1>
					<p class="lead text-muted">Avec Coup de p@tte, adopter un animal aupres de particulier ou acheter un amimal chez de nos eleveurs referencés .</p>
					<p>
						<a href="/dashboard" class="btn btn-info my-2">Déposer une annonce</a>
						<a href="/recherche" class="btn btn-info my-2">Rechercher un animal</a>
					</p>
				</div>
			</div>
		</section>
		<div class="album py-5 bg-light">
			<div class="container">
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
					{% for animal in animaux %}
						<div class="col">
							<div class="card shadow-sm">
								{% if 'http' in tabIdAnimauxPhoto[animal.idAnimal] %}
									<img src="{{tabIdAnimauxPhoto[animal.idAnimal]}}" class=" card-img-top" max-width="100%" height="225">
								{% else %}
									<img src="uploads/{{tabIdAnimauxPhoto[animal.idAnimal]}}" class=" card-img-top" max-width="100%" height="225">
								{% endif %}
							</div>
							<div>
							</div>
							<div>
								<div class="card-header text-center">
									<h2>{{ animal.nomAnimal }}</h2>
								</div>
								<hr>
									<div class="card-body">
										<p class="card-text">{{ animal.texteAnimal|slice(0, 50)|raw}}</br>
										Age de l'animal: {{animal.ageAnimal}} ans</p>
										<div class="d-flex justify-content-between align-items-center">
											<div class="btn-group">
												<a type="button" class="btn btn-sm btn-outline-secondary" href="annonce/{{animal.idAnimal}}">
													En savoir plus...</a>
											</div>
											<small class="text-muted">{{animal.prixAnimal}} euros</small>
										</div>
									</div>
							</div>
						</div>
					{% endfor %}
					</div>
					
			</div>
		</main>

		{%include 'commun/footer.html.twig'%}


	{% endblock %}
	{% endblock %}
