{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% form_theme form_recherche 'bootstrap_5_layout.html.twig' %}
{% endblock %}



{% block title %}Filtre recherche - Coup de Patte {% endblock %}

{% block body %}
{% include '/commun/nav.html.twig' %}
<main>
<div class="container">
    <div class="row">
        <div class="col-lg-2">
        </div>
    
    <div class="d-flex flex-nowrap">
        <div class="d-flex flex-column p-3 border-end">
            {{form_start(form_recherche)}}
                    <h5>Type d'animal</h5>
                    <div class="">
                    {{form_row(form_recherche.typesAnimal, { 'value': ''})}}
                </div>
                    <h5 class="mt-3">Sexe</h5>
                    {{form_row(form_recherche.isFeminin, { 'value': ''})}}
                    <h5 class="mt-3">Animal LOF</h5>
                    {{form_row(form_recherche.lofAnimal, { 'value': ''})}}
            <hr>
                    <h5>Intervalle de taille</h5>
                    {{form_row(form_recherche.idTaille)}}
            <hr>
                <h5>Type de poils</h5>
                {{form_row(form_recherche.idTypepoils)}}
            <hr>
                <h5>Type d'échange</h5>
                {{form_row(form_recherche.idStatut)}}
                <div class="text-end">
                {{form_row(form_recherche.save)}}
                </div>
            {{form_end(form_recherche)}}
        </div>
        <div class="album ms-4">
        <h1>Formulaire de recherche</h1>
            <p>Veuillez remplir le formulaire de recherche pour que nous puissons vous diriger vers des annonces pertinentes.</p>
            
            <div class="container">
            {% if recherche |length > 0 %}
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for animal in recherche %}
                    <div class="col">
                        <div class="card shadow-sm">
                        {% if 'http' in tabIdAnimauxPhoto[animal[0].idAnimal] %}
                            <img src="{{tabIdAnimauxPhoto[animal[0].idAnimal]}}" class=" card-img-top" width="100%" height="225">
                        {% else %}
                            <img src="uploads/{{tabIdAnimauxPhoto[animal[0].idAnimal]}}" class=" card-img-top" width="100%" height="225">
                        {% endif %}
                            <div class="card-header text-center">
                            {{animal[0].nomAnimal}}
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ animal[0].texteAnimal|slice(0, 50)|raw}}</br>Age: {{animal[0].ageAnimal}} ans</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a type="button" class="btn btn-sm btn-outline-secondary" href="annonce/{{animal[0].idAnimal}}">En savoir plus...</a>
                                    </div>
                                    <small class="text-muted">{{animal[0].prixAnimal}} euros</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
            <div class="text-center">
                <p class="alert alert-secondary">Aucun résultat pour cette recherche.</p>
            </div>
            {% endif %}
            </div>
        </div>
    
</div>
</main>
    {% include 'commun/footer.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}