{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{asset('css/dashboard.css')}}" rel="stylesheet">
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block title %}Coup de patte - Mon compte {% endblock %}

{% block body %}


	{% include 'commun/nav.html.twig' %}
<div class="container">
    <div class="row">
        <div class="col-lg-2">

</div>
	{% if utilisateur and utilisateur.isVerified == false %}
		<div class="alert alert-warning alert-dismissible" role="alert">
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			<div class="alert-message">
				<strong>Votre compte n'est pas activé</strong>,
				<a href="{{ path('resend_verif') }}">renvoyer le lien d'activation</a>
			</div>
		</div>
	{% endif %}
	{% include "_partials/_flash.html.twig" %}
	<div class="container-fluid">
		<div class="row">
			<main class="col-md  px-md-4">
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h1 class="h2">Bienvenue {{utilisateur.prenomUtilisateur}}
					</h1>
					<a class="nav-link " href="{{path('app_dashboard_ajouter')}}">
						<span data-feather="file" class="align-text-bottom"></span>
						Ajouter une annonce
					</a>
					<a class="nav-link active mx-2" aria-current="page" href="{{path('app_dashboard')}}">
						<span data-feather="home" class="align-text-bottom"></span>
						Mes annonces
					</a>
				</div>
			</main>
		</div>
	</div>

	<div class="row mx-1">
		{% for animal in animals %}

			<div class="col-lg-4 mb-2" >
				<div class="card shadow-sm " >
					<div class="card-header text-center">
						{{ animal[0].nomAnimal }}<br>
					</div>

						{% if 'http' in animal.image %}
							<img src="{{animal.image}}" class=" card-img-top" >
						{% else %}
							<img src="uploads/{{animal.image}}" class=" card-img-top"  >
						{% endif %}


					<div class="card-body">
						<p class="card-text">
							{{animal[0].texteAnimal | slice(0, 50) | raw }}...</p>
						Age de l'animal:
						{{animal[0].ageAnimal}}
						ans
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<a href="annonce/{{animal[0].IdAnimal}}" type="button" class="btn btn-sm btn-outline-secondary">En savoir plus...</a>
								<a href="dashboard/delete/{{animal[0].IdAnimal}}" type="button" class="btn btn-warning">Supprimer</a>
							</div>
							<small class="text-muted">{{animal[0].prixAnimal}}
								euros</small>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}

		<div class="container ">
			<div class="row mx-auto">
				<div class="col-lg-2 mx-auto">
				<div class="col-lg-4 mx-auto">
					<a type="submit" class="btn btn-dark" href='/deconnexion'>Déconnexion</a>
				</div>
			</div>
		</div>
	</div>
	{% include 'commun/footer.html.twig' %}

{% endblock %}
{% block javascripts %}
{% endblock %}
